.jumbotron {
  margin-bottom: 0;
  background-color: rgb(50, 57, 65);
}
p {
  font-family: lavigne-text, sans-serif;
}

h3 {
  font-family: bickham-script-pro-3, sans-serif;
  color: rgb(174, 134, 37);
  font-size: 50px;
}
